<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>PAGINA NO ENCONTRADA</h1>
    <a href="/" class="btn btn-danger">Ir a Home</a>
    <br>
   <!-- <img src="https://img.freepik.com/vector-gratis/pagina-error-404-distorsion_23-2148105404.jpg?w=2000" alt="" width="50%"> -->
    <img th:src="@{/imagenes/error404.jpg}" width="50%"/>
</body>
</html>